body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
    min-height: 100vh; /* Mínimo 100% del viewport height */
    background-color:#101935; /* Azul de la paleta */
    color: #101935;
}


header {
    position: fixed; /* Fijar en la parte superior */
    top: 0; /* Alinear en la parte superior */
    width: 100%; /* Ancho completo */
    background-color:#DDDBF1; /* Naranja */
    color: #101935; /* Letras blancas */
    padding: 10px 0; /* Un tercio menos de altura */
    z-index: 1000; /* Asegurar que esté por encima de otros elementos */
}

.carnet-photo {
    display: block;
    width: 200px; /* Tamaño de la foto duplicado */
    height: auto;
    margin: 0 auto 20px; /* Centrar la imagen y agregar espacio inferior */
}

footer {
    position: fixed; /* Fijar en la parte inferior */
    bottom: 0; /* Alinear en la parte inferior */
    width: 100%; /* Ancho completo */
    background-color: #DDDBF1; /* Negro */
    color: #DDDBF1; /* Letras blancas */
    text-align: center;
    padding: 20px 0; /* Doble de alto */
    margin-top: 20px; /* Espacio adicional */
}

/* Estilos para el botón */
.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px; /* Bordes circulares */
    background-color: #DDDBF1; /* Blanco */
    color: #000; /* Letras negras */
    text-decoration: none; /* Sin subrayado */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.button:hover {
    background-color: #000; /* Negro al hacer hover */
    color: #DDDBF1; /* Letras blancas al hacer hover */
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Aside 1/4, Main 3/4 */
    grid-gap: 20px;
    padding: 70px 20px; /* Añadir un margen inferior */
    height: auto; /* Altura automática */
    overflow: hidden; /* Ocultar el desbordamiento */
    margin-top: 60px; /* Añadir un margen superior */
    margin-bottom: 20px; /* Ajustar el margen inferior */
}

#employement-history h1 {
    font-size: 24px; /* Tamaño de fuente para h1 */
}

#employement-history h2 {
    font-size: 20px; /* Tamaño de fuente para h2 */
}


aside {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: 20px; /* Agregar espacio inferior */
}

#profile p {
    margin-bottom: 10px; /* Ajustar el margen inferior del párrafo */
}

.skill {
    margin-bottom: 20px;
}

.progress-bar {
    background-color: #DDDBF1; /* Naranja */
    border-radius: 5px;
    height: 10px;
    margin-top: 5px;
    overflow: hidden;
}

.progress {
    background-color: #101935; /* Azul */
    height: 100%;
}

#employement-history img {
    max-width: 50%; /* Establece el ancho máximo al 50% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    display: block; /* Asegura que la imagen sea un bloque */
    margin: 0 auto 20px; /* Centra la imagen y agrega espacio inferior */
}
